.auth .form-control {
  max-width: 320px;
}
.reg {
  background: whitesmoke;
  color: #101f3c;
}
.reg h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.reg span {
  color: #fa5105;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
}
.reg span:hover {
  color:rgb(220, 53, 69);
  text-decoration: underline;
}
.reg .btn {
  background: rgb(220, 53, 69);
  color: whitesmoke;
}
.reg p {
  font-size: 14px;
}
.reg input {
  border: grey 1px solid;
}
.reg .error {
  color: red;
}
.the-eye {
  top: 50%;
  cursor: pointer;
}
